<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="win.techflowing.android.app.ui">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name_ui"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Universe">
        <activity
            android:name=".UIMainActivity"
            android:exported="true"
            android:label="@string/app_name_ui">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="win.techflowing.android.app" />
            </intent-filter>

            <meta-data
                android:name="win.techflowing.android.app.ui.UIMainActivity_icon"
                android:resource="@drawable/ic_launcher" />
        </activity>
    </application>

</manifest>